__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
.venv/
venv/
ENV/
.env
.ipynb_checkpoints/

# Editors/OS
.vscode/
.idea/
.DS_Store
Thumbs.db

# Logs/temp
*.log
*.tmp

# Build/packaging
dist/
build/
*.egg-info/

# Local scratch
_ul
